{% load staticfiles %}
<!--DOCTYPE html-->
<html>
<head>
	<title>{{header}}</title>
	<link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
	<script type="text/javascript" src='{% static "js/general.js" %}'></script>
</head>
<body>
<h1>{{header}}</h1>
<h2>{{Service_title}}</h2>

<b>Service Name:</b><b>{{App.service_name}}<br></b>
<b>Current Status: </b><b>{{App.current_status}}<br></b>
<b>Previous Status: </b><b>{{App.prev_status}}<br></b>
<b>Time of Update: </b><b>{{App.last_updated_time}}<br></b>
<b>Process ID: </b><b>{{App.pid}}<br><br></b>
 
 <!-- Switch ON/OFF -->
<form id="{{App.id}}" method="POST" action="/services/id={{App.id}}/"> {% csrf_token %}
<div class="unloader" ><img src='{% static "images/gears.svg" %}'></div>
<div class="onoffswitch">
	<input type="hidden" name="serName" value="{{App.service_name}}">
    <input type="checkbox" name="switch" class="onoffswitch-checkbox" id="myonoffswitch-{{App.id}}" {{App.stat}} onclick="load();document.getElementById({{App.id}}).submit();">
  
    <label class="onoffswitch-label" for="myonoffswitch-{{App.id}}">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>
</form>
<div class="unloader" ><img src='{% static "images/gears.svg" %}'></div>
<a href="/services" onclick="load();"> <-- Back to list</a>
</body>
</html>