{% load staticfiles %}
<!--DOCTYPE html-->
<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
</head>
<body>
<h1>{{header}}</h1>
<h2>{{Service_title}}</h2>

<b>Service Name:</b><b>{{App.service_name}}<br></b>
<b>Current Status: </b><b>{{App.current_status}}<br></b>
<b>Previous Status: </b><b>{{App.prev_status}}<br></b>
<b>Time of Update: </b><b>{{App.last_updated_time}}<br></b>
<b>Process ID: </b><b>{{App.pid}}<br><br></b>
 
 <!-- Switch ON/OFF -->
<div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>

</body>
</html>