{% load staticfiles %}
<!--DOCTYPE html-->
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
	<script type="text/javascript" src='{% static "js/general.js" %}'></script>
</head>
<body>

{% if title %}
	<!-- <h1>{{title}}</h1> -->
	<fieldset>
	<legend><h2>{{title}}</h2></legend>
	<table cellpadding="10" cellspacing="3" border=3 width="700" align="left" style="border-color:14A480;">
	{% for obj in Apps %}
		<tr>
			<td><h2>{{obj.id}}.</h2></td> 
			<td><h2><a href='{{ obj.get_absolute_url }}'>{{obj.service_name}}</a></h2></td> <!-- can use this in href, but remove get_absolute_url from models {% url "services:detail" id=obj.id %} -->
			<td>{{obj.current_status}}</td>
		</tr>
	{% endfor %}
	</table>
	</fieldset>
{% else %}
	Authetication required
	<a href="/auth">Back to login page</a>
{% endif %}
</body>
</html>